:host {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
:host input {
  width: 80%;
  border: none;
  background: #af7eeb;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
:host input::placeholder {
  color: #fff;
}
