:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

:host button {
  border: none;
  border-radius: 50px;
  background: #FF002E;
  font-size: 16px;
  color: #FFFFFF;
  width: 60%;
  padding: 10px;
}
